#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  body{
  background: url("https://wallpaperaccess.com/full/5260178.jpg") no-repeat center;
  background-size: 150%;
  margin: 0 auto;
}
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }